/*THIS IS CREATED BY UBS Icon App*/

[class*="icon"]{

	background-image: url(sprite.svg);
	background-repeat: no-repeat;
}

 .icon-ubs_icons_1473{
 background-position: -0px 0px;
	width:64px;
	height:64px;
}

 .icon-ubs_icons_1476{
 background-position: -64px 0px;
	width:64px;
	height:64px;
}

 .icon-ubs_icons_1479{
 background-position: -128px 0px;
	width:64px;
	height:64px;
}

 .icon-ubs_icons_1482{
 background-position: -192px 0px;
	width:64px;
	height:64px;
}

 .icon-ubs_icons_1485{
 background-position: -256px 0px;
	width:64px;
	height:64px;
}

 .icon-ubs_icons_1488{
 background-position: -320px 0px;
	width:64px;
	height:64px;
}

 .icon-ubs_icons_1491{
 background-position: -384px 0px;
	width:64px;
	height:64px;
}

 .icon-ubs_icons_1494{
 background-position: -448px 0px;
	width:64px;
	height:64px;
}

 .icon-ubs_icons_1497{
 background-position: -512px 0px;
	width:64px;
	height:64px;
}

 .icon-ubs_icons_1500{
 background-position: -576px 0px;
	width:64px;
	height:64px;
}

 .icon-ubs_icons_1503{
 background-position: -640px 0px;
	width:64px;
	height:64px;
}

 .icon-ubs_icons_1506{
 background-position: -704px 0px;
	width:64px;
	height:64px;
}

 .icon-ubs_icons_1509{
 background-position: -768px 0px;
	width:64px;
	height:64px;
}

 .icon-ubs_icons_1512{
 background-position: -832px 0px;
	width:64px;
	height:64px;
}

 .icon-ubs_icons_1515{
 background-position: -896px 0px;
	width:64px;
	height:64px;
}

 .icon-ubs_icons_1518{
 background-position: -960px 0px;
	width:64px;
	height:64px;
}

 .icon-ubs_icons_1521{
 background-position: -1024px 0px;
	width:64px;
	height:64px;
}

 .icon-ubs_icons_1524{
 background-position: -1088px 0px;
	width:64px;
	height:64px;
}

 .icon-ubs_icons_1527{
 background-position: -1152px 0px;
	width:64px;
	height:64px;
}

 .icon-ubs_icons_1530{
 background-position: -1216px 0px;
	width:64px;
	height:64px;
}

 .icon-ubs_icons_1533{
 background-position: -1280px 0px;
	width:64px;
	height:64px;
}

 .icon-ubs_icons_1536{
 background-position: -1344px 0px;
	width:64px;
	height:64px;
}

 .icon-ubs_icons_1539{
 background-position: -1408px 0px;
	width:64px;
	height:64px;
}

 .icon-ubs_icons_1542{
 background-position: -1472px 0px;
	width:64px;
	height:64px;
}

 .icon-ubs_icons_1545{
 background-position: -1536px 0px;
	width:64px;
	height:64px;
}

 .icon-ubs_icons_1548{
 background-position: -1600px 0px;
	width:64px;
	height:64px;
}

 .icon-ubs_icons_1551{
 background-position: -1664px 0px;
	width:64px;
	height:64px;
}

 .icon-ubs_icons_1554{
 background-position: -1728px 0px;
	width:64px;
	height:64px;
}

 .icon-ubs_icons_1557{
 background-position: -1792px 0px;
	width:64px;
	height:64px;
}

 .icon-ubs_icons_1560{
 background-position: -1856px 0px;
	width:64px;
	height:64px;
}

 .icon-ubs_icons_1563{
 background-position: -1920px 0px;
	width:64px;
	height:64px;
}

 .icon-ubs_icons_1566{
 background-position: -1984px 0px;
	width:64px;
	height:64px;
}

 .icon-ubs_icons_1569{
 background-position: -2048px 0px;
	width:64px;
	height:64px;
}

 .icon-ubs_icons_1572{
 background-position: -2112px 0px;
	width:64px;
	height:64px;
}

 .icon-ubs_icons_1575{
 background-position: -2176px 0px;
	width:64px;
	height:64px;
}

 .icon-ubs_icons_1578{
 background-position: -2240px 0px;
	width:64px;
	height:64px;
}

 .icon-ubs_icons_1581{
 background-position: -2304px 0px;
	width:64px;
	height:64px;
}

 .icon-ubs_icons_1584{
 background-position: -2368px 0px;
	width:64px;
	height:64px;
}

 .icon-ubs_icons_1587{
 background-position: -2432px 0px;
	width:64px;
	height:64px;
}

 .icon-ubs_icons_1590{
 background-position: -2496px 0px;
	width:64px;
	height:64px;
}

 .icon-ubs_icons_1593{
 background-position: -2560px 0px;
	width:64px;
	height:64px;
}

 .icon-ubs_icons_1596{
 background-position: -2624px 0px;
	width:64px;
	height:64px;
}

 .icon-ubs_icons_1599{
 background-position: -2688px 0px;
	width:64px;
	height:64px;
}

 .icon-ubs_icons_1602{
 background-position: -2752px 0px;
	width:64px;
	height:64px;
}

 .icon-ubs_icons_1605{
 background-position: -2816px 0px;
	width:64px;
	height:64px;
}

 .icon-ubs_icons_1608{
 background-position: -2880px 0px;
	width:64px;
	height:64px;
}

 .icon-ubs_icons_1611{
 background-position: -2944px 0px;
	width:64px;
	height:64px;
}

 .icon-ubs_icons_1614{
 background-position: -3008px 0px;
	width:64px;
	height:64px;
}

 .icon-ubs_icons_1617{
 background-position: -3072px 0px;
	width:64px;
	height:64px;
}

 .icon-ubs_icons_1620{
 background-position: -3136px 0px;
	width:64px;
	height:64px;
}

 .icon-ubs_icons_1623{
 background-position: -3200px 0px;
	width:64px;
	height:64px;
}

 .icon-ubs_icons_1626{
 background-position: -3264px 0px;
	width:64px;
	height:64px;
}

 .icon-ubs_icons_1629{
 background-position: -3328px 0px;
	width:64px;
	height:64px;
}

 .icon-ubs_icons_1632{
 background-position: -3392px 0px;
	width:64px;
	height:64px;
}

 .icon-ubs_icons_1635{
 background-position: -3456px 0px;
	width:64px;
	height:64px;
}

 .icon-ubs_icons_1638{
 background-position: -3520px 0px;
	width:64px;
	height:64px;
}

 .icon-ubs_icons_1641{
 background-position: -3584px 0px;
	width:64px;
	height:64px;
}

 .icon-ubs_icons_1644{
 background-position: -3648px 0px;
	width:64px;
	height:64px;
}

 .icon-ubs_icons_1647{
 background-position: -3712px 0px;
	width:64px;
	height:64px;
}

 .icon-ubs_icons_1650{
 background-position: -3776px 0px;
	width:64px;
	height:64px;
}

 .icon-ubs_icons_1653{
 background-position: -3840px 0px;
	width:64px;
	height:64px;
}

 .icon-ubs_icons_1656{
 background-position: -3904px 0px;
	width:64px;
	height:64px;
}

 .icon-ubs_icons_1659{
 background-position: -3968px 0px;
	width:64px;
	height:64px;
}

 .icon-ubs_icons_1662{
 background-position: -4032px 0px;
	width:64px;
	height:64px;
}

 .icon-ubs_icons_1665{
 background-position: -4096px 0px;
	width:64px;
	height:64px;
}

 .icon-ubs_icons_1668{
 background-position: -4160px 0px;
	width:64px;
	height:64px;
}

 .icon-ubs_icons_1671{
 background-position: -4224px 0px;
	width:64px;
	height:64px;
}

 .icon-ubs_icons_1674{
 background-position: -4288px 0px;
	width:64px;
	height:64px;
}

 .icon-ubs_icons_1677{
 background-position: -4352px 0px;
	width:64px;
	height:64px;
}