/*THIS IS CREATED BY UBS Icon App*/

[class*="icon"]{

	background-image: url(sprite.svg);
	background-repeat: no-repeat;
}

 .icon-ubs_icons_21{
 background-position: -0px 0px;
	width:24px;
	height:24px;
}

 .icon-ubs_icons_24{
 background-position: -24px 0px;
	width:24px;
	height:24px;
}

 .icon-ubs_icons_27{
 background-position: -48px 0px;
	width:24px;
	height:24px;
}

 .icon-ubs_icons_30{
 background-position: -72px 0px;
	width:24px;
	height:24px;
}

 .icon-ubs_icons_33{
 background-position: -96px 0px;
	width:24px;
	height:24px;
}

 .icon-ubs_icons_36{
 background-position: -120px 0px;
	width:24px;
	height:24px;
}

 .icon-ubs_icons_39{
 background-position: -144px 0px;
	width:24px;
	height:24px;
}

 .icon-ubs_icons_42{
 background-position: -168px 0px;
	width:24px;
	height:24px;
}

 .icon-ubs_icons_45{
 background-position: -192px 0px;
	width:24px;
	height:24px;
}

 .icon-ubs_icons_48{
 background-position: -216px 0px;
	width:24px;
	height:24px;
}

 .icon-ubs_icons_51{
 background-position: -240px 0px;
	width:24px;
	height:24px;
}

 .icon-ubs_icons_54{
 background-position: -264px 0px;
	width:24px;
	height:24px;
}

 .icon-ubs_icons_57{
 background-position: -288px 0px;
	width:24px;
	height:24px;
}

 .icon-ubs_icons_60{
 background-position: -312px 0px;
	width:24px;
	height:24px;
}

 .icon-ubs_icons_63{
 background-position: -336px 0px;
	width:24px;
	height:24px;
}

 .icon-ubs_icons_66{
 background-position: -360px 0px;
	width:24px;
	height:24px;
}

 .icon-ubs_icons_69{
 background-position: -384px 0px;
	width:24px;
	height:24px;
}

 .icon-ubs_icons_72{
 background-position: -408px 0px;
	width:24px;
	height:24px;
}

 .icon-ubs_icons_75{
 background-position: -432px 0px;
	width:24px;
	height:24px;
}

 .icon-ubs_icons_78{
 background-position: -456px 0px;
	width:24px;
	height:24px;
}

 .icon-ubs_icons_81{
 background-position: -480px 0px;
	width:24px;
	height:24px;
}

 .icon-ubs_icons_84{
 background-position: -504px 0px;
	width:24px;
	height:24px;
}

 .icon-ubs_icons_87{
 background-position: -528px 0px;
	width:24px;
	height:24px;
}

 .icon-ubs_icons_90{
 background-position: -552px 0px;
	width:24px;
	height:24px;
}

 .icon-ubs_icons_93{
 background-position: -576px 0px;
	width:24px;
	height:24px;
}

 .icon-ubs_icons_96{
 background-position: -600px 0px;
	width:24px;
	height:24px;
}

 .icon-ubs_icons_99{
 background-position: -624px 0px;
	width:24px;
	height:24px;
}

 .icon-ubs_icons_102{
 background-position: -648px 0px;
	width:24px;
	height:24px;
}

 .icon-ubs_icons_105{
 background-position: -672px 0px;
	width:24px;
	height:24px;
}

 .icon-ubs_icons_108{
 background-position: -696px 0px;
	width:24px;
	height:24px;
}

 .icon-ubs_icons_111{
 background-position: -720px 0px;
	width:24px;
	height:24px;
}

 .icon-ubs_icons_114{
 background-position: -744px 0px;
	width:24px;
	height:24px;
}

 .icon-ubs_icons_117{
 background-position: -768px 0px;
	width:24px;
	height:24px;
}

 .icon-ubs_icons_120{
 background-position: -792px 0px;
	width:24px;
	height:24px;
}

 .icon-ubs_icons_123{
 background-position: -816px 0px;
	width:24px;
	height:24px;
}

 .icon-ubs_icons_126{
 background-position: -840px 0px;
	width:24px;
	height:24px;
}

 .icon-ubs_icons_129{
 background-position: -864px 0px;
	width:24px;
	height:24px;
}

 .icon-ubs_icons_132{
 background-position: -888px 0px;
	width:24px;
	height:24px;
}

 .icon-ubs_icons_135{
 background-position: -912px 0px;
	width:24px;
	height:24px;
}

 .icon-ubs_icons_138{
 background-position: -936px 0px;
	width:24px;
	height:24px;
}

 .icon-ubs_icons_141{
 background-position: -960px 0px;
	width:24px;
	height:24px;
}

 .icon-ubs_icons_144{
 background-position: -984px 0px;
	width:24px;
	height:24px;
}

 .icon-ubs_icons_147{
 background-position: -1008px 0px;
	width:24px;
	height:24px;
}

 .icon-ubs_icons_150{
 background-position: -1032px 0px;
	width:24px;
	height:24px;
}

 .icon-ubs_icons_153{
 background-position: -1056px 0px;
	width:24px;
	height:24px;
}

 .icon-ubs_icons_156{
 background-position: -1080px 0px;
	width:24px;
	height:24px;
}

 .icon-ubs_icons_159{
 background-position: -1104px 0px;
	width:24px;
	height:24px;
}

 .icon-ubs_icons_162{
 background-position: -1128px 0px;
	width:24px;
	height:24px;
}

 .icon-ubs_icons_165{
 background-position: -1152px 0px;
	width:24px;
	height:24px;
}

 .icon-ubs_icons_168{
 background-position: -1176px 0px;
	width:24px;
	height:24px;
}